{% extends 'BackOffice/navbars.html.twig' %}

{% block title %}Claims Statistics{% endblock %}

{% block body %}

    <h1>Claims Statistics</h1>
    <canvas id="ClaimsStatsChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 359px; width: 719px;" width="719" height="359"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('ClaimsStatsChart').getContext('2d');
        var ClaimsStatsChart = new Chart(ctx, {
            type: 'line', 
            data: {
                labels: {{ labels|json_encode|raw }},
                datasets: [{
                    label: 'Claim created',
                    data: {{ data|json_encode|raw }}, 
                    backgroundColor: 'rgba(54, 162, 235, 0.2)', 
                    borderColor: 'rgba(54, 162, 235, 1)', 
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });
    });
    </script>
{% endblock %}
