	{% extends 'BackOffice/navbars.html.twig' %}

    {% block title %}Monuments per Country{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column; width: 100%;">
    <div style="max-width: 650px; margin-bottom: 20px; width: 100%;">
        <h1>Monument Statistics by Country</h1>
        <canvas id="monumentsChart"></canvas>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('monumentsChart').getContext('2d');
        var monumentsChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels|raw }},
                datasets: [{
                    label: 'Number of Monuments',
                    data: {{ data|raw }},
                    backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',  // Red
                            'rgba(54, 162, 235, 0.2)',  // Blue
                            'rgba(255, 206, 86, 0.2)',  // Yellow
                            'rgba(75, 192, 192, 0.2)',  // Green
                            'rgba(153, 102, 255, 0.2)', // Purple
                            'rgba(255, 159, 64, 0.2)',  // Orange
                            'rgba(255, 99, 132, 0.2)'   // Red (repeated for additional parts)
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',    // Red
                            'rgba(54, 162, 235, 1)',    // Blue
                            'rgba(255, 206, 86, 1)',    // Yellow
                            'rgba(75, 192, 192, 1)',    // Green
                            'rgba(153, 102, 255, 1)',   // Purple
                            'rgba(255, 159, 64, 1)',    // Orange
                            'rgba(255, 99, 132, 1)'     // Red (repeated for additional parts)
                        ],
                        borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    x: { // This is where you configure the x-axis settings
                        ticks: {
                            font: {
                                size: 14 // Adjust the size as needed
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
